<% layout('layouts/app') %>
    <h1>Login</h1>
    <form action="/login" method="POST" class="m-3 pt-3 validated-form" novalidate>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            <input type="text" name="username" id="username" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Password</span>
            <input type="password" name="password" id="password" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please choose a Password.
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success">Login</button>
    </form>